body {
    
    background-color: lightblue;
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: rgb(16, 70, 117);
  }

  .formfont {
    font-size: 20px;
    color: white;

  }
  
  .block {
    position: relative;
    margin: 20px 500px;
    width: 500px;
    height: 100%;
    background: linear-gradient(0deg, #000, #272727);
  }
  
  .block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,#00ff00,#ffff00,#00ff00,#ffff00);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(50px);
  }

 